.header {
  text-align: center;
}

.menu {
  display: inline-block;
  list-style: none;
}

.menu-item {
  list-style-type: none;
  display: inline-block;
}
.menu-link {
  color: #ff0000;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  margin: 0 20px;
  text-align: center;
  letter-spacing: 3.3px;
}

.foto {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
}
.main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  color: #373737;
  text-align: center;
}

.btn {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  background: #ff0000;
  border-radius: 5px;
  border: none;
  padding: 14px 50px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.fotter {
  margin-top: 20px;
  margin-right: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2.4px;
  float: right;
}
